* {
    margin: 0;
    padding: 0;
}
html, body, #app, .mobile {
    height: 100%;
}
.home {
    width: 960px;
    background: #fff;

    &-section {
        margin-bottom: 10px;
    }

    &-title, &-count {
        height: 30px;
        line-height: 30px;
    }

    &-buttons {
        width: 400px;
    }
}