
.bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;

  .earth, .pros {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 1s cubic-bezier(.22, .61, .36, 1);
  }

  .earth {
    z-index: 1;
    height: 2160px;
    background: url('./assets/img/bg.jpg') no-repeat 50% 0;
  }

  .pros {
    z-index: 0;
    height: 1080px;
    background: url('./assets/img/bg-pro.jpg') no-repeat 50% 0;
  }

  &-current-1 {
    .earth {
      transform: translateY(0);
    }
  }

  &-current-2 {
    .earth {
      transform: translateY(-30px);
    }
  }

  &-current-3 {
    .earth {
      transform: translateY(-100px);
    }
  }

  &-current-4 {
    .earth {
      transform: translateY(-200px);
    }
  }

  &-current-5 {
    .pros {
      transform: translateY(0);
    }
  }
  &-current-5--1 {
    .pros {
      transform: translateY(-20px);
    }
  }
  &-current-5--2 {
    .pros {
      transform: translateY(-40px);
    }
  }
  &-current-5--3 {
    .pros {
      transform: translateY(-60px);
    }
  }
  &-current-5--4 {
    .pros {
      transform: translateY(-80px);
    }
  }

  &-current-6 {
    .pros {
      transform: translateY(-120px);
    }
  }

  &-current-6--1 {
    .pros {
      transform: translateY(-140px);
    }
  }

  &-current-6--2 {
    .pros {
      transform: translateY(-160px);
    }
  }

  &-current-7 {
    .pros {
      transform: translateY(-180px);
    }
  }

  &-current-8 {
    .pros {
      transform: translateY(-200px);
    }
  }

  // 产品
  &-earth {
    height: 2160px;

    .earth {
      opacity: 1;
    }
    .pros {
      opacity: 0;
    }
  }

  &-pros {
    height: 1080px;

    .earth {
      opacity: 0;
    }
    .pros {
      opacity: 1;
    }
  }
}


.page {
  &-outer {
    height: 100%;
  }

  &-inner {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 1;

    &__menu {
      position: absolute;
      width: 100%;
      height: 20px;
      z-index: 999;
      
      div {
        padding: 5px 15px;
        float: left;
      }
    }
  }

  &-home {
    // background: rgba($color: #000000, $alpha: .8);
  }

  &-us {
    // background: rgba($color: red, $alpha: .8);
  }
}

.page-top__outer {
  width: 100%;
  position: absolute;
  z-index: 999;
  height: 75px;
  background: rgba(255, 255, 255, 0.05);
}
.page-top {
  width: 1080px;
  height: 75px;
  margin: 0 auto;

  &__logo {
    float: left;
    margin-top: 14px;
  }

  &__menus {
    padding: 15px 0;
    float: right;

    &_item {
      position: relative;
      height: 35px;
      line-height: 35px;
      padding: 5px 0;
      margin: 0 15px;
      float: left;
      font-size: 14px;
      cursor: pointer;
    }

    &_item.active {
      color: #35c1f0;

      &::after {
        content: ' ';
        width: 100%;
        display: block;
        height: 3px;
        background: #35c1f0;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .dropmenu {
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease;
      transform: translateY(40px);
    }

    &_item {
      &:hover {
        .dropmenu {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

