.particle {
    display: inline-block;

    &-outer {
        position: relative;
    }

    //&-canvas,
    &-img {
        transition: all 0.4s cubic-bezier(.23, 1, .32, 1);
    }

    &-canvas {
        position: relative;
        z-index: 1;
        opacity: 0;

        &-visible {
            opacity: 1;
        }
    }

    &-img {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        opacity: 0;

        &-visible {
            opacity: 1;
        }
    }
}